/* Hayley Corson-Dosch style sheet */

/* style axis */
.axis path,
.axis line {
  fill: none;
  stroke: black;
  strok-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 0.9em;
}

.title {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.state {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 0.5px;
}

.nation {
  fill: #EBEBEB;
  stroke: #FFFFFF;
  stroke-width: 0.5px;
}

.counties {
  stroke: #FFFFFF;
  stroke-width: 0.5px;
  stroke-linecap: round;
}

.gratLines {
  fill: none;
  stroke: #B3CCE6;
  stroke-width: 1px;
}

.gratBackground {
  fill: #D9E6F2;
}

.map {
  border: medium solid #5A5A5A;
  border-width: 0.5px;
}
