/* Hayley Corson-Dosch style sheet */

/* style axis */
.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 0.9em;
}

.title {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

/* .state {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 0.5px;
}

.nation {
  fill: #EBEBEB;
  stroke: #FFFFFF;
  stroke-width: 0.5px;
} */

.counties {
  stroke: #FFFFFF;
  stroke-width: 0.5px;
  stroke-linecap: round;
}

/* .gratLines {
  fill: none;
  stroke: #B3CCE6;
  stroke-width: 1px;
}

.gratBackground {
  fill: #D9E6F2;
} */

.map {
  /* border: medium solid #5A5A5A;
  border-width: 0.5px; */
  margin: 10px 0 0 20px;
  fill: none;
}

.chart {
  float: right;
  margin: 15px 25px 0 0; // was 390 20 0 0
}

.chartTitle {
  font-family: sans-serif;
  font-size: 0.9em;
  fill: #525252;
  font-weight: bold;
}

.chartBackground {
  fill: none /* rgba(232, 232, 232, 0.2) */
}

.chartFrame {
  fill: none;
  /* stroke: #5A5A5A; */
  stroke-width: 0.8px;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #5A5A5A;
  stroke-width: 0.8px;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 1em;
  fill: #757575;
}

.dropdown {
  width: 12.2%;
  position: absolute;
  text-align: left;
  top: 80px; /* was 70 with map border*/
  left: 400px; /* was 420 with map border*/
  z-index: 10;
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  color: #bd0d0d;
  padding: 2px;
  border: 1px solid #999;
  box-shadow: 1px 1px 4px #b3b3b3; /* 2px 2px 4px #999 */
}

option {
  font-weight: normal;
}

.infolabel {
  font-family: sans-serif;
  font-size: 0.6em;
  margin: 0 2px 0 0;
  position: absolute;
  height: 33px;
  /* min-width: 5px; */
  color: #000;
  background-color: #fff;
  opacity: 0.9;
  /* fill: rgba(232, 232, 232, 0.2) */
  border: solid thin #fff;
  padding: 5px 5px;
  top: -75px;
}

.infolabel h1 {
  margin: 0 20px 0 0;
  padding: 0;
  display: inline-block;
  line-height: 1em;
}

.infolabelPC {
  font-family: sans-serif;
  font-size: 0.6em;
  /* margin: 0 2px 0 0; */
  position: absolute;
  height: 10px;
  /* min-width: 5px; */
  color: #000;
  background-color: #fff;
  opacity: 0.9;
  /* fill: rgba(232, 232, 232, 0.2) */
  border: solid thin #fff;
  padding: 2px 2px;
  top: -75px;
}

.placeName {
  margin: 3px 0 0 0;
}

.parallelChart {
  float: right;
  margin: 330px 20px 0 25px;
  position: absolute;
}

.axisPC {
  opacity: 0.6;
}

.axisPC:hover {
  opacity: 1;
}

.pageHeading {
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 5px 0 3px 0;
}

.metadata {
  float: right;
  margin: 650px 20px 0 25px;
  border: medium solid #5A5A5A;
  border-width: 0.5px;
  position: absolute;
}

.metadataText {
  /* position: absolute;
  margin: 650px 20px 0 25px; */
  font-family: sans-serif;
  font-size: 0.5em;
  color: #999
  fill: #525252;
}

#Sources {
  position: absolute;
  /* float: right; */
  left: 630px;
  top: 660px;
  height: 30px;
  font-family: Arial;
  text-align: left;
  line-height: 11px;
  font-size: 9px;
}

h6 {
  font-family: Arial;
  color: #666666;
  text-align: left;
}
